body {
  margin: 0
}

button {
  background-color: #C3ECB2;
  /* background-color: #addfad; */
  color: rgb(50, 50, 50);
  border: none;
  border-radius: 8px !important;
  padding: 8px 16px;
  font-weight: 500;
  height: 44px;
}

button:hover {
  background-color: #afd4a0;
  transition-duration: 0.2s;
}

.rightBlock {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topHolder {
  /* background-color: blue; */
  position: relative;
  width: 100%;
  height: 60px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 3px 3px -2px rgba(50,50,50, 0.5);
  /* border-bottom: 1px solid rgb(146, 144, 144); */
}

.mapButton {
  /* text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto; */
}

.profilePic {
  width: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.newMarkerBlock {
  /* background-color: pink; */
  height: 500px;
  max-height: 95%;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.descriptionTextara {
  max-height: 500px;
}

.newStoryButtons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.imageItem {
  object-fit: cover;
  height: 300px;
  width: 460px;
}

.storyImages {
  height: 300px;
  width: 460px;
  background-color: #afd4a0;
  align-self: center;
}

.storyBlock {
  padding: 20px 20px 20px 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: center;
  /* background-color: blueviolet; */
  width: 500px;
  max-width: 500px;
  overflow-x: hidden;
  position: relative;
}

.storyName {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.storyAuthor {
  font-style: italic;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}

.followButton {
  background-color: white;
  /* background-color: #addfad; */
  color: rgb(117, 117, 117);
  border: 1px solid rgb(117, 117, 117);
  border-radius: 4px !important;
  padding: 2px 4px;
  font-weight: 400;
  font-size: 14px;
  height: fit-content;
  margin-left: 10px;
}

.followButton:hover {
  background-color: rgb(117, 117, 117);
  color: white;
}

.storyText {
  /* background-color: aqua; */
  text-wrap: wrap;
  word-wrap: break-word;
}

.storyDate, .commentDate {
  color: rgb(117, 117, 117);
  font-style: italic;
  font-size: 13px;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.menuButton {
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
}

.profileMenu {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  /* justify-content: center; */
}

.profileMenuIcon {
  cursor: pointer;
  background-color: #C3ECB2;
  color: #3a4635;
  font-size: 20px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 45px;
  text-align: center;
  line-height: 40px;
}

.profileMenuName {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #3a4635;
  border-bottom: 2px solid #3a4635;
}

.menuLink {
  padding: 6px 12px;
  cursor: pointer;
  line-height: 30px;
  width: fit-content;
}

.menuLink:hover {
  font-size: 18px;
  transition-duration: 0.3s;
}

.logoutButton {
  color: #d00;
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.btn-close:hover {
  background-color: white;
}

.authorStoryImage {
  position: relative;
  height: 140px;
  width: 140px;
}

.authorStoryImg {
  object-fit: cover;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.authorStoryImgOverlay {
  height: 140px;
  width: 140px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(117, 117, 117, 0.5);
  font-size: 50px;
  font-weight: bold;
  color: rgba(50, 50, 50, 0.75);
  text-align: center;
  line-height: 140px;
}

.authorPage {
  overflow-y: scroll;
  position: relative;
}

.authorStoriesBlock {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  /* background-color: #d00; */
  padding-bottom: 20px;
}

.authorStory {
  padding: 6px 20px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.authorStory:hover {
  box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
}


.authorStoryBody {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-bottom: 4px;
}

.authorStoryName {
  font-size: 22px;
  font-weight: 500;
  padding-top: 10px;
}

.authorStoryText {
  width: 280px;
  height: fit-content;
  max-height: 140px;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.authorPageName {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  /* background-color: #d00; */
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  position: relative;
}

.profilePageIcon {
  background-color: #C3ECB2;
  color: #3a4635;
  font-size: 22px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 45px;
  text-align: center;
  line-height: 40px;
  cursor: default;
}

.likesBlock {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
}

.likeIcon {
  /* background-color: aquamarine; */
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.likes, .dislikes {
  text-align: center;
  cursor: pointer;
}

.commentsCount {
  font-weight: 700;
}

.commentArea {
  width: 100%;
  resize: none;
  background-color: rgb(245, 245, 245);
  color: black;
  border-radius: 16px;
  padding: 5px 20px;
  outline: none;
  border: 2px solid gray;
}

.pagination {
  --bs-pagination-color: #3a4635 !important;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: green !important;
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: green !important;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(156, 188, 142, 0.25) !important;
    --bs-pagination-active-color: black !important;
    --bs-pagination-active-bg: #C3ECB2 !important;
    --bs-pagination-active-border-color: #C3ECB2 !important;
}

.sendComment {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 14px;
  padding: 10px 4px;
}

.comment + .comment {
  border-top: 1px solid black;
}

.commentAuthor {
  font-weight: 600;
}